/*
Theme Name: Sender Template
Theme URI: http://lindesigner.com
Description:
Author: Lin
Version: 1.1
License:
License URI: 
Tags: 
Text Domain: lin
*/
embed {
    width: 440px !important;
    height: 330px !important;
}
@font-face {
    font-family: 'pf_encore_sans_pro_bookRg';
    src: url('fonts/pfencoresanspro-book.eot');
    src: url('fonts/pfencoresanspro-book.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfencoresanspro-book.woff') format('woff'),
         url('fonts/pfencoresanspro-book.ttf') format('truetype'),
         url('fonts/pfencoresanspro-book.svg#pf_encore_sans_pro_bookRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

ol {
	margin-left:30px;
}

body {
	line-height:1;
	background:#fff;
    font-family: 'PT Sans', sans-serif;
	color:#191919;
}

a {
	font: 16px 'PT Sans', sans-serif;
	color: #191919;
	outline:none;
}

a:hover {
	text-decoration:none;
}

H1 {
	font: 36px 'PT Sans', sans-serif;
	color: #000;
	padding:0;
	margin:0 0 20px 0;
}

H2 {
	font:24px 'PT Sans', sans-serif;
	color:#ccc;
	border-bottom:1px solid #e5e5e5;
	padding:0 0 15px;
	margin:0 0 20px;
}

H3 {
	font: 24px 'PT Sans', sans-serif;
	color: #191919;
}

img {
	border:none;
}

.fix {
	clear:both!important;
	font-size:1px!important;
	vertical-align:1px!important;
	float:none!important;
}

pre {
	clear:both;
}

#wrapper {
	width:940px;
	margin: 0 auto;
}

#wrapper-content {
	width:940px;
	margin: 0 auto;
}

/*Header*/
#header {
	background:#e2e4e8;
}

.header, #header-landing {
	padding:25px 0px;
	width:940px;
	margin: 0 auto;
	height:30px;
}

#logo {
	float:left;
	margin-right:50px;
}

.soc-icons {
	float:right;
	margin-top:5px;
}

.twitter {
	float:left;
	margin-top:5px;
	background:url(images/twitter-icon-bird.png) no-repeat top left;
	padding-left:35px;
}

.soc-icons .facebook {
	float:left;
	margin-left:15px;
}

.soc-icons .twitter {
	margin-top:0px;
	background:none;
	padding:0;
}

.twitter div {
	width:550px!important;
	height:30px!important;
}

.twitter p, .twitter p a {
	font-size:12px!important;
}

.header-widgets {
	float:right;
}

.header-widgets li {
	float:left;
	list-style:none;
	margin:0 10px 0 0;
}

.header-widgets a {
	font: 14px 'PT Sans', sans-serif;
}

.qtrans_language_chooser .active {
	display:none;
}

#menu {
	clear:both;
	border-top:1px solid #d6d8dc;
	padding:20px 0;
	background:#e2e4e8;
	z-index:1000;
	width:100%!important;
}

#menu li {
	list-style:none;
	float:left;
	margin:0 5px;
}

#menu li.first {
	margin:0 5px 0 0;
}

#menu li.last {
	margin:0 0 0 5px;
}

#menu li a {
	font: 18px 'PT Sans', sans-serif;
	padding:5px 10px;
	display:inline;
	text-decoration:none;
}

#menu li a:hover, #menu li.current-menu-item a, #menu li.current_page_item a, #menu li.current_page_parent a, #menu li.current-page-ancestor a {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.widget_qtranslate, .login, .login-info, .login-reg {
	float:left;
}

.login {
	padding:0px!important;
}

.widget_qtranslate, .login-info, .login-reg, .login-avatar {
	margin-right:10px;
}

.logout-button, .login-button {
	float:right;
}

.login-button a {
	background:#000 url(images/login-icon.png) no-repeat center 9px;
	text-decoration:none;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.login-button a:hover {
	background:#fff url(images/login-icon.png) no-repeat center -20px;
}

.logout-button a {
	background:#000 url(images/logout-icon.png) no-repeat center 9px;
	text-decoration:none;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.logout-button a:hover {
	background:#fff url(images/logout-icon.png) no-repeat center -20px;
}

.login-reg a:hover, .login-settings:hover {
	background:#fff;
	color:#333333;
}

.login-avatar {
	float:left;
}

.login-info, .logout-button, .login-button, .login-reg, .widget_qtranslate {
	padding:9px 0;
}

.login-info strong {
	padding:12px 25px;
}

#socializeit {
	margin:0!important;
	left:10px;
	top:180px!important;
}

/*Body*/
#body {
	clear:both;
}

.content {
	padding:30px 0px 0px;
	width:940px;
}

.content p {
	margin:10px 0;
}

.page-title h1 {
	font:24px 'PT Sans', sans-serif;
	color:#ccc;
	border-bottom:1px solid #e5e5e5;
	padding:0 0 20px;
	margin:0 0 20px;
}

.blog-tags {
	margin:30px 0 0;
}

.blog-tags, .post-archive {
	clear:both;
	display:block;
	height:45px;
}

.post-archive {
	margin:50px 0 0;
}

.tags-cloud, .post-archive-item {
	margin-right:3px;
}

.tags-cloud, .post-archive-item {
	float:left;
}

.content.main .all-archive, .content.main .all-tags {
	margin-right:60px;
}

.all-archive, .all-tags {
	float:right;
	height:42px;
}

.all-tags a, .all-archive a, .login-reg a, .login-settings {
	background:#000000;
	font:15px 'PT Sans', sans-serif;
	text-decoration:none;
	color:#e2e4e8;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.tags-cloud a, .post-archive-item a {
	background:#e2e4e8;
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#333333;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.all-tags a:hover, .all-archive a:hover {
	background:#e2e4e8;
	color:#333333;
}

.post-archive-item li {
	list-style:none;
	float:left;
	margin-right:2px;
}

.tags-cloud a:hover, .post-archive-item a:hover {
	background:#000000;
	color:#e2e4e8;
}

.content.main, .content.shop {
	width:940px;
}

#video {
	background:#191919;
	padding:25px 0px 65px 0px;
	color:#fff;
}

#video .clear {
	clear:none!important;
}

#video h3 {
	color:#fff;
	font: 18px 'PT Sans', sans-serif;
	margin:35px 0;
	text-align:center;
}

#video input {
	float:left;
	padding:10px 20px;
	font:15px 'PT Sans', sans-serif;
	color:#a8a8b0;
	height:20px;
	border:0px;
	background:#4e4e54;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	width:230px;
}

#video .email {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-left:15px;
	width:470px;
}

#video .sign-up {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background:#e2e4e8;
	height:40px;
	width:130px;
	cursor:pointer;
	color:#131315;
	margin-left:15px;
}

.entry-title {
	text-decoration:none;
}

.entry-title h1 {
	font: 55px 'PT Sans', sans-serif;
	color: #191919;
	margin:0;
	padding:0;
}

.date {
	float:left;
	margin-right:40px;
	background:url(images/date-icon.png) no-repeat;
	padding:3px 0 3px 35px;
	font-size:12px;
	height:19px;
}

.comments {
	float:left;
	background:url(images/comment-icon.png) no-repeat;
	padding:3px 0 3px 35px;
	font-size:12px;
	height:19px;
}

.posted {
	display:block;
	margin:35px 0;
	height:25px;
}

.entry-content {
	clear:both;
}

.entry-content p {
	margin:15px 0;
	line-height:30px;
}

/*Blog*/
.blog-item {
	display:block;
	width:440px;
	margin:0 auto;
	height:640px;
}

.blog-title {
	text-decoration:none;
}

.blog-date span, .parent-tag span, .media-date span {
	background:#e7402f;
	padding:1px 6px;
	margin:0 0 0 10px;
	font: 12px 'PT Sans', sans-serif;
	color:#fff;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}

.blog-title h1 {
	margin:0;
	padding:0;
	font: 24px 'PT Sans', sans-serif;
}

a.blog-title:hover {
	text-decoration:underline;
}

.blog-date {
	font:15px 'PT Sans', sans-serif;
	color:#999999;
	background:url(images/date-icon-new.png) no-repeat;
	padding:0 0 6px 35px;
	height:19px;
	margin:0 0 10px;
}

.media-date {
	font:15px 'PT Sans', sans-serif;
	color:#999999;
	height:19px;
	margin:0 0 10px;
}

.media-views {
	font:15px 'PT Sans', sans-serif;
	color:#999999;
	background:url(images/media-views.png) no-repeat;
	padding:0 0 6px 25px;
	height:19px;
	margin:0 0px 10px 0px;
	float:right;
}

.blog-comments {
	font:15px 'PT Sans', sans-serif;
	color:#000;
	height:19px;
	border-top:1px solid #e5e5e5;
	padding:20px 0 0;
	margin:20px 0 0;
	text-align:right;
}

.blog-comments span {
	background:url(images/comment-icon-new.png) no-repeat 0 3px;
	padding:0 0 0 25px;
}

.blog-content {
	clear:both;
}

.blog-content p {
	font:15px 'PT Sans', sans-serif;
	margin:15px 0;
	line-height:20px;
}

.blog.button {
	clear:both;
	text-align:center;
	margin:40px 0 0;
	height:42px;
}

#featured-navi #nav-featured.bubbles-nav a {
	-webkit-border-radius:5px!important;
	-moz-border-radius:5px!important;
	border-radius:5px!important;
}

.blog-img img {
	margin:0 0 10px;
}

.blog-img #featured-navi {
	width:580px;
	height:380px;
	float:none!important;
	margin-bottom:20px;
}

.blog-img #featured-navi dl {
	margin:0px;
}

.blog-img #featured-navi #nav-featured {
	bottom: 10px;
}

.blog-img #featured-navi #nav-featured a, .slider-shop #featured-navi #nav-featured a {
	background:#020202;
}

.blog-img #featured-navi #nav-featured a.activeSlide {
	background:#e3e4e9!important;
}

.slider-shop #featured-navi #nav-featured a.activeSlide {
	background:#999999!important;
}

.blog-img #featured-navi #featured {
	width:580px!important;
	height:340px!important;
	float:none!important;
	background:#fff!important;
}

.blog-img #featured-navi #featured img {
	border:0!important;
}

.blog.button a {
	background:#131315;
	font:15px 'PT Sans', sans-serif;
	text-decoration:none;
	color:#fff;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.blog.button a:hover {
	background:#e2e4e8;
	color:#333333;
}

.right {
	float:right;
	width:290px;
}

.right h2 {
	font:24px 'PT Sans', sans-serif;
	color:#ccc;
	border-bottom:1px solid #e5e5e5;
	padding:0 0 20px;
	margin:0 0 25px;
}

.right .blog-thumb img {
	width:290px;
	height:auto;
}

.left {
	float:left;
	width:580px;
}

.content.single #vkapi, .content.single #vkwidget1, .content.single .fb-comments, .content.single .fb_ltr {
	width:580px!important;
}

.content.single .post-archive {
	margin-top:40px;
}

.blog-title.single {
	font:36px 'PT Sans', sans-serif;
	margin-bottom:10px;
}

.content.single .blog-tags {
	border-top:1px solid #e5e5e5;
	padding:30px 0 0;
}

.content.single .blog-content p {
	font:17px 'PT Sans', sans-serif;
}

.right .blog-thumb-video iframe, .shop-thumb.media iframe {
	width:290px!important;
	height:170px!important;
}

.blog-thumb-video iframe {
	width:440px!important;
	height:258px!important;
}

.booking {
	margin:30px 0 0;
	clear:both;
	display:block;
}

.booking div, .promo div {
	float:left;
	width:290px;
	font:14px 'PT Sans', sans-serif;
	color:#666;
}

.booking div a, .promo div a{
	font:17px 'PT Sans', sans-serif;
	color:#333;
}

.booking div.booking-telephone, .promo div.booking-telephone {
	float:none;
	font:24px 'PT Sans', sans-serif;
	color:#333333;
}

.promo {
	margin:30px 0 0;
	clear:both;
	display:block;
}

.h2-download {
	margin:30px 0 25px;
}

.download {
	float:left;
	margin:0 10px 0 0px;
	padding:12px 0;
}

.download a {
	background:#000000;
	font:15px 'PT Sans', sans-serif;
	text-decoration:none;
	color:#e2e4e8;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.download a:hover {
	background:#e2e4e8;
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#333333;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.right .partner {
	border-bottom:1px solid #e5e5e5;
	padding:0 0 20px;
	margin:0 0 30px;
}

.right .partner div {
	text-align:center;
	margin-bottom:20px;
}

.right .partner a {
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
	color:#999999;
	clear:both;
}

.right .partner p {
	clear:both;
}

/*Slider*/
#featured-navi {
	width:940px;
	height:360px;
	float:none!important;
	margin-bottom:20px;
}

#featured, #featured #fragment-0, #featured #fragment-1, #featured #fragment-2, #featured #fragment-3, #featured #fragment-4, #featured #fragment-5, #featured #fragment-6, #featured #fragment-7 {
	width:940px!important;
}

#featured {
	background:#000!important;
	height:360px;
}

#featured .info {
	background:none!important;
	bottom:auto!important;
    height:inherit!important;
    left:auto!important;
	right:0;
	top:0;
    position:absolute;
    width:425px!important;
	padding:50px 0;
}

#featured .info h2 {
	border:0px;
}

#featured .info h2 a {
	font:36px 'PT Sans', sans-serif;
}

#featured .info p {
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
}

#nav-featured {
    position: absolute;
    right:auto!important;
    top:auto!important;
    z-index: 1000;
	bottom:35px;
	left:45%;
}

#nav-featured a.activeSlide {
	background:#4e4e54!important;
}

/*Tabber*/
.tabberlive.style1 {
	padding:60px 0 0;
}

#vkapi {
	height:100%!important;
}

.style1 {
	background:none!important;
}

.style1 ul.tabbernav {
	position:relative;
	z-index:2;
	height:69px;
}

div#vkapi, div.fb-comments {
	border-top:1px solid #e5e5e5!important;
}

.style1 ul.tabbernav li.tabberactive a {
    border:none!important;
    color:#191919!important;
    font:30px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	padding:0!important;
}

.style1 ul.tabbernav li {
	padding:0 0 55px 0!important;
	float:left!important;
	display:inherit!important;
	margin-right:40px!important;
}

.style1 ul.tabbernav li a {
    background:none!important;
    border:none!important;
    color:#191919!important;
    font:30px 'pf_encore_sans_pro_bookRg', Arial!important;
    padding:0!important;
	height:70px;
	text-decoration:none;
	cursor:pointer;
	display:block;
}

.style1 ul.tabbernav li.tabberactive a, .style1 ul.tabbernav li a:hover {
	background:url(images/active-tabber.png) no-repeat center bottom!important;
}

.style1 ul.tabbernav {
	padding:0!important;
	margin:0!important;
}

.style1.tabberlive .tabbertab {
	padding:40px 0 0!important;
	margin:0!important;
	border-top:1px solid #e5e5e5!important;
	border-bottom:none!important;
	border-left:none!important;
	border-right:none!important;
	clear:both;
	position:relative;
	top:-2px;
}

@-moz-document url-prefix()
{
.style1.tabberlive .tabbertab {top:-3px}
}

.vkapi-commets {
	font:13px 'pf_encore_sans_pro_bookRg', Arial!important;
	margin-left:10px;
	float:left;
}

/*Shop*/
.shop-tags {
	clear:both;
	margin:0 0 20px;
	padding:7px 0;
	width:940px;
}

.shop-tag {
	float:left;
	margin-right:10px;
}

.shop-tag a:hover {
	background:#000000;
	color:#e2e4e8;
}

.shop-tag a {
	background:#e2e4e8;
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#333333;
	padding:7px 15px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	display:inline;
}

.post-archive-item a {
	background:#e2e4e8;
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#333333;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.shop-content {
	float:left;
	display:inline-table;
	margin:0 35px 25px 0;
	width:290px;
}

.shop-content .top img {
	width:290px;
	height:auto;
}

.shop-content .top {
	width:290px;
	height:auto;
}

.shop-content .bottom {
	display:none;
	width:290px;
	position:absolute;
	text-align:center;
	line-height:170px;
	height:170px;
}

.shop-content .bottom .buy-button a, .slider-buy-button a, .content.shop.item .item_in_content .buy-button a, .content.shop.item .page-in-right .buy-button a {
	background:#e7402f;
	font:18px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#fff;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.shop-content .bottom .buy-button a:hover, .slider-buy-button a:hover, .content.shop.item .item_in_content .buy-button a:hover, .content.shop.item .page-in-right .buy-button a:hover {
	background:#fff;
	color:#e7402f;
	text-decoration:none;
}

.shop-content .shop-link .bottom .buy-button {
	background:#e7402f;
	font:18px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#fff;
	padding:12px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:inline;
}

.content.shop.item .item_in_content .buy-button a:hover, .content.shop.item .page-in-right .buy-button a:hover {
	border:1px solid #e7402f;
}

.shop-content h3 {
	font:18px 'pf_encore_sans_pro_bookRg', Arial!important;
	margin:20px 0 0;
}

.shop-content a:hover {
	text-decoration:underline;
}

.shop-content a {
	text-decoration:none;
}

.shop-content .price {
	text-align:right;
	border-top:1px solid #e5e5e5;
	padding:12px 0 0;
	margin:20px 0 0;
}

.price span.number {
	background:url(images/price-icon.png) no-repeat 0px 3px;
	padding:5px 0 5px 25px;
}

.shop-thumb {
	width:290px;
	height:170px;
}


.shop-link:hover .bottom {
	display:block;
	background:url(images/black-png.png);
}

.shop-thumb:hover .bottom {
	display:block;
	background:url(images/black-png.png);
}

.money-type {
	margin:0 0 0 5px;
}

.parent-tag {
	margin:0 0 15px;
	clear:both;
	display:block;
}

.parent-tag img, .media-date img {
	float:left;
	margin-right:7px;
}

/*Slider Shop*/
.content.shop .slider-shop #featured {
	background:none!important;
}

.slider-shop #nav-featured {
	left:520px!important;
}

.shop-slider-info {
	position:absolute;
	margin:30px 0px 15px 520px;
	width:400px!important;
}

.shop-slider-info a {
	text-decoration:none;
}

.shop-slider-info a:hover {
	text-decoration:underline;
}

.shop-slider-info a h3 {
	font:36px 'pf_encore_sans_pro_bookRg', Arial!important;
}

.slider-price {
	float:right;
}

.slider-buy-button {
	bottom:45px;
    position: absolute;
    right:20px;
}

.shop-slider-info .parent-tag {
	clear:none;
	display:inherit;
}

.content.shop.item .page-title h1 {
	padding:0 0 15px;
	margin:0 0 20px;
}

.page-in-left {
	float:left;
	width:615px;
	margin:0 25px 15px 0;
}

.page-in-left img, .page-in-left iframe {
	width:615px;
	height:auto;
}

.page-in-right {
	/*float:left;
	width:290px;
	margin-left:35px;*/
	padding-right:60px;
}

.content.shop.item .item_in_content .price, .content.shop.item .page-in-right .price {
	float:right;
}
.content.shop.item .parent-tag {
	clear:inherit;
}

.content.shop.item .item_in_content .buy-button, .content.shop.item .page-in-right .buy-button {
	text-align:right;
	padding:12px 0;
}

.content.shop.item .buy_link {
	width:940px;
	margin-top:30px;
}

.item_in_content {
	width:940px;
}

.content.shop.item .pay_logos {
	position:relative;
	width:940px;
	text-align:right;
	margin:0px 0 -50px;
	padding:0 0 20px;
	border-bottom:1px solid #e5e5e5;
}

.number-downloads {
	background:url(images/download-icon.png) no-repeat 0 2px;
	padding:0 0 0 30px;
}

.shop-content .number-downloads-items {
	text-align:right;
	border-top:1px solid #e5e5e5;
	padding:12px 0 0;
	margin:20px 0 0;
}

.content.shop.item .page-in-right .number-downloads, .content.shop.item .item_in_content .number-downloads {
	float:right;
}

/*Lightbox*/
#cboxCurrent {
	display:none!important;
}

#cboxContent {
	overflow:inherit!important;
}

#cboxNext {
	top:45%;
	left:auto!important;
	right:-85px;
	background:url(images/light-next.png) no-repeat!important;
	height:40px!important;
	width:40px!important;
}

#cboxPrevious {
	top:45%;
	right:auto!important;
	left:-85px!important;
	background:url(images/light-prev.png) no-repeat!important;
	height:40px!important;
	width:40px!important;
}

#colorbox, #cboxOverlay, #cboxWrapper {
	overflow:inherit!important;
}

/*Gallery*/
.ngg-gallery-thumbnail img {
	padding:0px!important;
	background:none!important;
	border:0!important;
	margin:15px 30px 15px 0!important;
}

.ngg-galleryoverview {
	width:1000px!important;
}

/*Pagination*/
.pagination, .ngg-navigation {
	border-top:1px solid #E5E5E5;
	padding:20px 0 0!important;
	margin:45px 0 35px!important;
	display:block;
	clear:both;
}

/*Events*/
ul.tabbernav.event li {
	padding:0px!important;
}

#tribe-events-content {
	/*width:940px!important;*/
	padding:0!important;
	margin:0px!important;
}

.grid {
	width:940px!important;
}

.event-item {
	width:290px;
	margin:35px 35px 0px 0;
	float:left;
	display:inline-table;
}

.event-item .post-thumb img {
	width:290px;
	height:auto;
}

.event-title-top {
	height:40px;
}

.event-title-top .category_icon {
	float:left;
}

.event-title-top .event_day, .event-title-top .event-cat {
	float:left;
	margin-left:10px;
}

.event-cat {
	color:#999999;
}

.event-item h3 {
	font-size:18px;
}

.event-title-link {
	margin:10px 0 0;
}

.event-title-link a {
	text-decoration:none;
}

.event-title-link a:hover {
	text-decoration:underline!important;
}

.event-adress {
	margin:10px 0 0;
	background:url(images/event-adress.png) no-repeat left 6px;
	display:block;
	padding:5px 0 5px 25px;
	font-size:15px;
}

.event-item p {
	font-size:15px;
	color:#666666;
}

.event-item .photo_events a, .event-link-content .photo_events a {
	background:#000000;
	font:15px 'PT Sans', sans-serif;
	text-decoration:none;
	color:#e2e4e8;
	padding:10px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:block;
}

.event-item .photo_events a:hover, .event-link-content .photo_events a:hover {
	background:#e2e4e8;
	color:#333333;
}

.event-item .buy_ticket a, .event-link-content .buy_ticket a {
	background:#e7402f;
	font:15px 'pf_encore_sans_pro_bookRg', Arial!important;
	text-decoration:none;
	color:#fff;
	padding:10px 25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	display:block;
	border:1px solid #fff;
}

.event-item .buy_ticket a:hover, .event-link-content .buy_ticket a:hover {
	background:#fff;
	color:#e7402f;
	text-decoration:none;
	border:1px solid #e7402f;
}

.links-events div {
	float:left;
	margin-right:10px;
}

.links-events {
	display:block;
	clear:both;
	margin:17px 0;
	height:40px;
}

.links-events a {
	text-decoration:none;
}

.vk_event, .fb_event {
	height:40px;
}

.event-item .blog-comments {
	display:block;
	clear:both;
}

.tribe-events-month-nav {
	position:inherit!important;
}

.tribe-events-events-dropdown {
	border:none;
	background: transparent;
	-webkit-appearance: none;
	font:24px 'PT Sans', sans-serif;
}

.select-month, .select-year {
	float:left;
	margin-right:15px;
}

.select-month {
	background:url(images/select-bg.png) no-repeat 115px 10px;
	width:135px;
	overflow:hidden;
}

.select-month select {
	width:180px;
}

.select-year {
	background:url(images/select-bg.png) no-repeat 70px 10px ;
	width:90px;
	overflow:hidden;
}

.select-year select {
	width:130px;
}

.event-comment-tabber #vkapi, .event-comment-tabber #vkapi iframe, .event-comment-tabber .fb-comments, .event-comment-tabber .fb-comments iframe {
	width:580px!important;
}

#googlemaps {
	margin-bottom:40px!important;
}

.dd_outer {
	margin-top:70px!important;
}

.buy_links_shops {
	clear:both;
}

.buy_links_shops a {
	display:table;
	float:left;
	margin-right:15px;
}

/*Footer*/
#footer {
	background:#131315;
	height:160px;
	clear:both;
	margin:60px 0 0;
}

#footer-page {
	background:#131315;
	padding:20px 0;
	border-top:1px solid #a1a1a1;
	clear:both;
	margin:60px 0 0;
	font:12px 'pf_encore_sans_pro_bookRg', Arial!important;
	color:#767682;
}

.footer-logos div.logos {
	float:left;
	border-right:1px solid #4e4e54;
	padding:0px 10px;
	height:220px;
	width:200px;
	text-align:center;
	line-height:300px;
}

.footer-logos div.logos a {
	display:inline-block;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}

.footer-logos div.logos a:hover {
	display:inline-block;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
}

.copy-page {
	clear:both;
	text-align:right;
	margin:50px 0 0;
}

.copy {
	width:940px;
	margin:0 auto;
	padding:65px 0 0;
}

/*main menu styles */
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/LeagueGothic/League_Gothic-webfont.eot');
    src: url('fonts/LeagueGothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/LeagueGothic/League_Gothic-webfont.woff') format('woff'),
    url('fonts/LeagueGothic/League_Gothic-webfont.ttf') format('truetype'),
    url('fonts/LeagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothicCyrillic';
    src: url('fonts/LeagueGothic/leaguegothiccyrillic.eot');
    src: url('fonts/LeagueGothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/LeagueGothic/leaguegothiccyrillic.woff') format('woff'),
    url('fonts/LeagueGothic/leaguegothiccyrillic.ttf') format('truetype'),
    url('fonts/LeagueGothic/leaguegothiccyrillic.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.menu-menu-container:after{
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.menu-menu-container {
    border-style: solid;
    border-width: 1px 0;
    background: #fff; background: rgba(255,255,255,0.5);
    box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff, inset 0 -1px 0 #fff;
}

#menu-menu {
    text-align: center;
}
#menu-menu .menu-item a {
    font-size: 18px;
    padding: 0 7px;
    line-height: 44px;
    text-transform: uppercase;
    font-family: 'pf_encore_sans_pro_bookRg', sans-serif;
}
.menu-menu-container .menu-item {
    position: relative;
    margin: 0 !important;
    padding: 0 5px;
    display: inline-block;
    float: none !important;
    text-align: center;
}
.menu-menu-container .menu-item .sub-menu {
    margin-left: -5px;
}
.menu-menu-container .menu-item .sub-menu .sub-menu{
    margin: 0;
}
.menu-menu-container .menu-item .sub-menu .menu-item{
    padding: 0;
}
.menu-menu-container .menu-item .sub-menu {
    display: none;
    background: #fff;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2.7272727489471436px 0px;
}

.menu-menu-container .menu-item a {
    padding: 0 5px;
}
.menu-menu-container .menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    z-index: 20;
    width: 185px;
 }
.menu-menu-container .menu-item:hover .sub-menu .menu-item {
    width: 100%;
    padding-right: 0;
}
.menu-menu-container .menu-item:hover .sub-menu .sub-menu {
    display: none;
 }
.menu-menu-container .menu-item .sub-menu .menu-item:hover .sub-menu {
    display: block;
    left: 186px;
    top: 0;
}


.menu-menu-container .menu-item:hover{
    background: #ff3;
}
.menu-menu-container .menu-item.current-page-ancestor,
.menu-menu-container .menu-item.current-menu-item{
    background: #ff3;
}
.social-links-footer li {
    background: url( images/hardwellsocialmediaicons.png);
    display: inline-block;
    width: 30px;
    height: 27px;
    margin-left: 5px;
    list-style: none;
}
#youtube_soc {
    width: 35px;
    height: 35px;
    margin: 0 11px 0 20px;
    display: block;
    background: url( images/youtube_icon.jpg) no-repeat;
}
#vk_soc {
    background: url(images/vk_icon.jpg) no-repeat;
    display: block;
    width: 35px;
    display: none;
    height: 35px;
    margin: 5px 11px 5px 21px;
}
#vk_soc a,
#youtube_soc a{
    display: block;
    width: 100%;
    height: 100%;
}
.social-links-footer {

}
.social-links-footer li a {
    display: block;
    width: 100%;
    height: 27px;
}
.social-links-footer li:hover {
  cursor: pointer;
}
.social-links-footer li#facebook {
    background-position: 0px 0;
    width: 25px;
}
.social-links-footer li#facebook:hover {
    background-position: 0px -27px;
}

.social-links-footer li#twitter {
    background-position: -25px 0;
    width: 39px;
}

.social-links-footer li#twitter:hover {
    background-position: -25px -27px;
}

.social-links-footer li#youtube {
    background-position: -64px 0;
    width: 33px;
}
.social-links-footer li#youtube:hover {
    background-position: -64px -27px;
}


.social-links-footer li#soundcloud {
    background-position: -97px 0;
}
.social-links-footer li#soundcloud:hover {
    background-position: -97px -27px;
}
.social-links-footer li#itunes {
    background-position: -130px 0;
    width: 33px;
}
.social-links-footer li#itunes:hover {
    background-position: -130px -27px;
}

.social-links-footer li#beatport {
    background-position: -166px 0;
    width: 33px;
}
.social-links-footer li#beatport:hover {
    background-position: -166px -27px;
}

.social-links-footer li#spotify {
    width: 33px;
    display: none;
    background-position: -199px 0;
}
.social-links-footer li#spotify:hover {
    background-position: -199px -27px;
}
.social-links-footer li#vk {
    margin-left: 0;
    margin-right: 5px;
    background: url( images/vk-gray.png) no-repeat 0 3px;
    width: 33px;
    height: 33px;
}
.social-links-footer li#vk:hover {
    background: url( images/vk-white.png) no-repeat 0 3px;

} 
.banner {
    margin: 80px 0;
}
.banner img{
    display: block;
    margin: 0 auto;
}
.dd_outer iframe {
    width: 88px !important;
}
#social {
    float: right;
}

.slider-shop .item {
    position: relative;
}